---
hostname: clab-lab-01-ceos1
ansible_network_os: "arista.eos.eos"
domain_name: ceos1.local
router_id: 10.10.10.0
bgp:
  local_as: 65001
  neighbors:
    ipv4_neighbors:
     - neighbor: 192.168.1.0
       remote_as: 65100
       update_source: Loopback0
       prefix: 10.10.10.0
       masklen: 31
  redistribute:
    ipv4_redistro:
     - protocol: connected
interfaces:
  - eos_if: "Ethernet1/1"
    desc: "Ethernet1/1 - Srl to ceos1 peering intf"
    enabled: true
    routed: true
    ipv4: "192.168.1.1/31"
  - eos_if: "Loopback0"
    desc: "Loopback0 - Update Source"
    enabled: true
    ipv4: "10.10.10.0/31"